button-3{
    display:inline-block;
    padding: 8px 16px;
    background-color: #3ad4eb;
    text-decoration: none;
    border-radius: 30px;
    text-align:left;
    position:absolute;
    top: 70px;
    left: 1235px;
    font-family: 'Comfortaa', cursive;
    color:white;
    font-weight: bold;
}
button-4{
    display:inline-block;
    padding: 8px 16px;
    background-color: #3ad4eb;
    text-decoration: none;
    border-radius: 30px;
    text-align:left;
    position:absolute;
    top: 70px;
    left: 1330px;
    font-family: 'Comfortaa', cursive;
    color:white;
    font-weight: bold;
}
button-5{
    display:inline-block;
    padding: 8px 16px;
    background-color: #d84f4f;
    text-decoration: none;
    border-radius: 30px;
    text-align:left;
    position:absolute;
    top: 25px;
    left: 1250px;
    font-family: 'Comfortaa', cursive;
    color:rgb(247, 200, 9);
    font-weight: bolder;
}